<%- include('header'); -%>
    <div id="menu">
        <a href="home.html">Página Inicial</a>
        <a href="entradas.html" class="active">Entradas</a>
        <a href="carne.html">Pratos de Carne</a>
        <a href="peixe.html">Pratos de Peixe</a>
        <a href="marisco.html">Pratos de Marisco</a>
        <a href="vegetariano.html">Pratos Vegetarianos</a>
        <a href="sobremesas.html">Sobremesas</a>
        <a href="bebidas.html">Bebidas</a>
        <a href="forum.html">Fórum</a>
        <a href="jogo.html">Mini-Jogo</a>
        <a href="login.html">Login</a>
        <%- include('searchbar'); -%>
    </div>
    <div class="content">
        <div id="page">
            <img id="banner" src="images/entradas.png">
            <div id="body_container">
                <div id="recipe">
                    <div id="recipe_image_div">
                        <img id="recipe_image" src="images/pao_alho.png">
                    </div>
                    <label id="title">Pão de Alho com Queijo e Oregãos</label><br><br>
                    <label id="main_word">Tempo de Confeção: </label>
                    <label id="desc">10 minutos</label><br><br>
                    <label id="main_word">Ingredientes:</label><br>
                    <label id="desc">- 2 pães tipo "baguete"<br>
                            - 2/3 colheres de sopa de manteiga<br>
                            - 3/2 dentes de alho picados<br>
                            - 1 fio de azeite<br>
                            - oregãos e queijo ralado q.b. (o tipo de queijo fica a seu critério)<br>
                        </label><br>
                    <label id="main_word">Preparação:</label><br>
                    <label id="desc">
                            1. Corte ambos os pães ao meio e dê vários golpes na diagonal em cada um dos bocados cortados.<br>
                            2. Junte a manteiga já derretida, os dentes de alho e os oregãos e misture um fio de azeite.<br>
                            3. Pincele os pães com o preparado anterior e adicione o queijo por cima.<br>
                            4. Com o forno já aquecido a cerca de 180ºC, leve os pães ao forno durante cerca de 5 minutos, até o queijo derreter e os pães ficarem com uma cor dourada.<br>
                        </label>
                </div>

                <div id="recipe">
                    <div id="recipe_image_div">
                        <img id="recipe_image" src="images/pate_salmao.png">
                    </div>
                    <label id="title">Tostas com Patê de Salmão Fresco</label><br><br>
                    <label id="main_word">Tempo de Confeção: </label>
                    <label id="desc">10 minutos</label><br><br>
                    <label id="main_word">Ingredientes:</label><br>
                    <label id="desc">- 100g de salmão fresco<br>
                            - 150g queijo creme<br>
                            - 1 colher de chá de sumo de limão<br>
                            - cebolinho e sal q.b.<br>
                        </label><br>
                    <label id="main_word">Preparação:</label><br>
                    <label id="desc">
                            1. Corte o salmão em pedaços pequenos.<br>
                            2. Junte o salmão, o queijo creme, o sumo de limão e misture tudo bem.<br>
                            3. Com o auxilio de uma varinha mágica, triture tudo até ficar um amistura cremosa.<br>
                            4. Tempere com sal e volte a mexer bem.<br>
                            5. Coloque um pouco de cebolinho por cima do patê.<br>
                            6. Sirva o patê acompanhado com tostas.<br>
                        </label>
                </div>

                <div id="recipe">
                    <div id="recipe_image_div">
                        <img id="recipe_image" src="images/camarao.png">
                    </div>
                    <label id="title">Camarões Salteados na Frigideira</label><br><br>
                    <label id="main_word">Tempo de Confeção: </label>
                    <label id="desc">20 minutos</label><br><br>
                    <label id="main_word">Ingredientes:</label><br>
                    <label id="desc">- 500g de camarão<br>
                            - 4 dentes de alho picados<br>
                            - 2 colheres de sopa de azeite<br>
                            - 2 colheres de sopa de sumo de limão<br>
                            - 1 fio de azeite<br>
                            - sal, pimenta e salsa q.b. picada<br>
                        </label><br>
                    <label id="main_word">Preparação:</label><br>
                    <label id="desc">
                            1. Descasque os camarões e tempere-os com sal.<br>
                            2. Frite o alho no azeite, acrescente os camarões e salteie-os durante aproximadamente 7 minutos.<br>
                            3. Adicione o sumo de limão e a pimenta e volte a saltear durante 3 minutos.<br>
                            4. Retirar os camarões da frigideira e servir com um pouco de salsa por cima.<br>
                        </label>
                </div>

            </div>
        </div>
        <%- include('footer'); -%>