<footer id="footer">
    <div id="footer_desc">
        <label class="label_for">Contacte-nos via email: receitas100limites@gmail.com</label><br>
        <label class="label_for">E deixe-nos a sua opinião aqui:</label>
        <div class="stars" data-rating="3">
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
        </div>
    </div>
</footer>
</div>
</div>

</body>

</html>