<%- include('templates/header'); -%>
    <div id="menu">
        <a class="menuItem active" href="javascript: info.showHome();" value="Home">Página Inicial</a>
        <a class="menuItem" href="javascript: info.showEntrada();" value="Entrada">Entradas</a>
        <a class="menuItem" href="javascript: info.showBebida();">Bebidas</a>
        <a class="menuItem" href="javascript: info.showCarne();">Pratos de Carne</a>
        <a class="menuItem" href="javascript: info.showPeixe();">Pratos de Peixe</a>
        <a class="menuItem" href="javascript: info.showMarisco();">Pratos de Marisco</a>
        <a class="menuItem" href="javascript: info.showVegetariano();">Pratos Vegetarianos</a>
        <a class="menuItem" href="javascript: info.showSobremesa();">Sobremesas</a>
        <a class="menuItem" href="forum">Fórum</a>
        <a class="menuItem" href="jogo">Mini-Jogo</a>
        <a class="menuItem" href="login">Login</a>
        <%- include('templates/searchbar'); -%>
    </div>
    <div class="content">
        <div id="page">
            <img id="banner2" class="banner" src="images/sugestoes.png">
            <div id="body_container"></div>
        </div>
        <%- include('templates/footer'); -%>