<%- include('header'); -%>
    <div id="menu">
        <a href="home.html">Página Inicial</a>
        <a href="entradas.html">Entradas</a>
        <a href="carne.html">Pratos de Carne</a>
        <a href="peixe.html">Pratos de Peixe</a>
        <a href="marisco.html">Pratos de Marisco</a>
        <a href="vegetariano.html">Pratos Vegetarianos</a>
        <a href="sobremesas.html">Sobremesas</a>
        <a href="bebidas.html">Bebidas</a>
        <a href="forum.html">Fórum</a>
        <a href="jogo.html" class="active">Mini-Jogo</a>
        <a href="login.html">Login</a>
        <%- include('searchbar'); -%>
    </div>
    <div class="content">
        <div id="page">
            <img id="banner" src="images/mini_jogo.png">
            <div id="body_container">
                <div id="game_area">
                    <label class="game_label_for">O objetivo deste mini-jogo é adivinhar os ingredientes da receita gerada, arrastando os ingredientes</label><br>
                    <label class="game_label_for">disponíveis até à área em destaque e clicar em "submeter" quando achar que a receita está completa.</label><br><br><br>
                    <label class="game_label_for">Clique aqui para começar a jogar: </label>
                    <input id="random_recipe_btn" name="random_recipe_btn" class="btn_login_page label_for" type="submit" value="Gerar Receita"><br>
                    <label class="game_label_for">Receita: </label><br><br><br>
                    <div id="random_recipe"></div>
                    <div id="drag_and_drop_area">
                        <div id="drag_area">
                            <label class="game_label_for">Lista de ingredientes:</label><br><br>
                            <div id="drag_ingredients" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                                <label id="draggable-1" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">Tomate</label>
                                <label id="draggable-2" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">Sal</label>
                                <label id="draggable-3" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">Alface</label>
                                <label id="draggable-4" class="example-draggable" draggable="true" ondragstart="onDragStart(event);">Pimenta</label>
                            </div>

                        </div>
                        <div id="drop_area">
                            <label class="game_label_for">Ingredientes selecionados:</label>
                            <div class="example-dropzone" ondragstart="onDragStart(event);" ondragover="onDragOver(event);" ondrop="onDrop(event);"></div>
                        </div>
                    </div>
                    <div id="recipes"></div>
                </div>
            </div>
            <%- include('footer'); -%>