<%- include('templates/header'); -%>
    <div id="menu">
        <a class="menuItem" href="javascript: info.showHome();" value="Home">Página Inicial</a>
        <a class="menuItem" href="javascript: info.showEntrada();" value="Entrada">Entradas</a>
        <a class="menuItem" href="javascript: info.showBebida();">Bebidas</a>
        <a class="menuItem" href="javascript: info.showCarne();">Pratos de Carne</a>
        <a class="menuItem" href="javascript: info.showPeixe();">Pratos de Peixe</a>
        <a class="menuItem" href="javascript: info.showMarisco();">Pratos de Marisco</a>
        <a class="menuItem" href="javascript: info.showVegetariano();">Pratos Vegetarianos</a>
        <a class="menuItem" href="javascript: info.showSobremesa();">Sobremesas</a>
        <a class="menuItem" href="forum">Fórum</a>
        <a class="menuItem" href="jogo">Mini-Jogo</a>
        <a class="menuItem active" href="login">Login</a>
        <%- include('templates/searchbar'); -%>
    </div>
    <div class="content">
        <div id="page">
            <div id="body_container">
                <div id="login_container">
                    <label for="mail_txt" class="label_for">Introduza o seu email:</label><br>
                    <textarea id="mail_txt" name="mail_txt" class="label_for" rows="1" cols="25" placeholder="Ex: 123_abc@mail.pt"></textarea><br>
                    <label for="pass_txt" class="label_for">Introduza a sua password:</label><br>
                    <textarea id="pass_txt" name="pass_txt" class="label_for" rows="1" cols="25" placeholder="Entre 5-20 caracteres"></textarea><br>
                    <label for="pass_txt" class="label_for">Introduza a sua password de novo:</label><br>
                    <textarea id="pass_txt" name="pass_txt" class="label_for" rows="1" cols="25" placeholder="Entre 5-20 caracteres"></textarea><br>
                    <input id="register_btn" name="register_btn" class="btn_login_page label_for" type="submit" value="Registar"><br>
                </div>
            </div>
        </div>
        <%- include('templates/footer'); -%>