html,
body {
    margin: 0;
    padding: 0;
    background-color: #fbc021;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

article {
    margin: 0 auto;
    background-attachment: scroll;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
    padding: 10px 0px 10px 0px;
    height: 20%;
}

#esquerda {
    float: left;
    width: 12%;
    height: 60%;
    padding: 0px 0px 0px 5px;
}

#direita {
    float: right;
    padding: 0px 0px 0px 5px;
    width: 87%;
    height: 70%;
    box-sizing: border-box;
}

.footer_left {
    float: left;
    clear: both;
    text-align: left;
    padding: 10px;
    color: #FFF;
    background: #232323;
    font-size: 15px;
    border-top: 5px solid #FFF;
    box-sizing: border-box;
    height: 7.90%;
    width: 50%;
}

.footer_right {
    float: right;
    clear: both;
    text-align: right;
    padding: 10px;
    color: #FFF;
    background: #232323;
    font-size: 15px;
    border-top: 5px solid #FFF;
    box-sizing: border-box;
    height: 7.90%;
    width: 50%;
}

.button_login {
    margin: 20px 0px 40px 0px;
    padding: 10px 10px 10px 8px;
    width: calc(100% - 30px);
    background: #ffe08e;
    color: #000000;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px 12px 12px 12px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
}

.search-input-1 {
    padding: 10px 10px 10px 8px;
    width: calc(100% - 50px);
    height: 15px;
    background: #ffffff;
    color: black;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px 16px 16px 16px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.vertical_menu {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    width: 125%;
    box-sizing: border-box;
}

.vertical_menu a {
    display: inline-block;
    padding: 10px 10px 10px 0px;
    width: calc(100% - 100px);
    background: #444444;
    color: #ffffff;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.vertical_menu a:hover {
    background-color: #c0c0c0;
    color: black;
}

.vertical_menu a.active {
    background-color: #ffe08e;
    color: black;
}

.textarea_format {
    resize: none;
    width: calc(90% - 1130px);
    height: 350px;
    padding: 10px 10px 0px 20px;
    background: #606060;
    color: #fbc021;
    border-color: #606060;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
}

.horizontal_sugestion {
    width: calc(100% - 50px);
    padding: 10px 0px 0px 0px;
    list-style-type: none;
    text-align: center;
    word-spacing: 200px;
}

.banner_1st {
    border-radius: 26px 26px 26px 26px;
    width: calc(100% - 115px);
}

.banner_2nd {
    border-radius: 26px 26px 26px 26px;
    width: calc(100% - 60px);
}